
USE [AdventureWorks2016CTP3]
GO

SELECT BUSINESSENTITYID, FIRSTNAME
FROM [Person].[Person]
GO

--EXAMPLE OF A CLUSTERED INDEX:THE PHONE BOOK

/*

FIND FIRST NAME : HOLLY
TO FIND THE NAME HOLLY, YOU WILL HAVE TO GO THROUGH EACH ROW ONE BY ONE UNTIL YOU REACH HOLLY; AND EVEN WHEN YOU SEE THE FIRST NAME HOLLY,
YOU WILL HAVE TO CONTINUE UNTIL THE END OF THE COLUMN, BECAUSE THERE CAN BE MORE THAN ONE HOLLY.  AS YOU CAN SEE IT IS VERY TIME CONSUMING 
AND WILL CAUSE POOR PERFORMANCE.  

*/


--LET'S LOOK AT THE CLUSTERED INDEX IN ACTION WITH A SQL EXAMPLE


--drop database
use master
go

drop database IndexDB
go
--Create a db

use master
go

CREATE DATABASE [IndexDB]
CONTAINMENT = NONE
ON  PRIMARY 
( NAME = N'IndexDB', 
FILENAME = N'Z:\sql data\IndexDB.mdf' , 
SIZE = 102400KB , 
FILEGROWTH = 65536KB )
LOG ON 
( NAME = N'IndexDB_log', 
FILENAME = N'Y:\sql log\IndexDB_log.ldf' , 
SIZE = 10240KB , 
FILEGROWTH = 65536KB )
GO



--create a table 
use IndexDB
go

CREATE TABLE Names 
(NameID INT IDENTITY, 
FN varchar (50), 
LN varchar (50))
GO

--Insert some records --

Insert into Names
select  FirstName, LastName 
from [AdventureWorks2016CTP3].[Person].[Person]

--select the table.  Notice that the Fn is not sorted in any particular order

use IndexDB
go

select FN, LN 
from Names

--now run the script with the where clause

use IndexDB
go

select FN, LN 
from Names
where FN = 'Mary'


--view the execution plan to see a table scan --<< this is not good for performance

--display information regarding the amount of disk activity generated by Transact-SQL statements
--logical reads  -- Number of pages read from the data cache. 
--physical reads  -- Number of pages read from disk. 

SET STATISTICS IO ON 
--SET STATISTICS IO OFF 

SET STATISTICS TIME ON 
--SET STATISTICS TIME OFF 

use IndexDB
go

select FN, LN 
from Names
where FN = 'Mary'

--logical reads 76


--Now create a clusteded index on FN and review the execution plan

use IndexDB
go

CREATE CLUSTERED INDEX idx_FN ON Names(fn)
GO

--review the table.  Note that the FN column is now sorted because of the clusted index on FN

use IndexDB
go

select FN, LN 
from Names

--Now that we have created a clusteded index on FN lets review the execution plan; and look at the message for logical reads

use IndexDB
go

select FN, LN 
from Names
where FN = 'mary'

--logical reads 3


--drop the table as we only have a gig os space in out virtual drives

use IndexDB
go

Drop table [dbo].[Names]



