
--create database on new drive

CREATE DATABASE [Pages]
CONTAINMENT = NONE
ON  PRIMARY 
( NAME = N'Pages', 
FILENAME = N'W:\data\Pages.mdf' , 
SIZE = 102400KB , 
FILEGROWTH = 65536KB )
LOG ON 
( NAME = N'Pages_log', 
FILENAME = N'W:\data\Pages_log.ldf' , 
SIZE = 10240KB , 
FILEGROWTH = 65536KB )
GO


use Pages
go

create table cars
(
CarName char(1000)
)


insert into cars
values ('BMW')


select * from cars

--viewing the actual data in a page that belong to either data page or an index page using DBCC IND command

-- this flag must be turned on

DBCC traceon(3604)
GO

--the following DBCC command wil give all the index info as we have selected -1 option
--when we execute the command below, we see that two pages have been alloacted; one for the IAM and one for data page
--pagetype 10 = IAM  pagetype 1 = data page  2 = index page

DBCC IND ('pages', cars, -1)
GO 

-- To get a more detailed content of the actual data in the data page we use the following DBCC command:

-- this flag must be turned on

DBCC traceon(3604)
GO

--we can actually see the 3 sections of the data page:  header, row content, and row offset

DBCC page('pages',1,304,1) --<< option 1

DBCC page('pages',1,304,3) --<< option 3

--So at this point, a record consists of 1007 bytes per single insert row (7 for the null_bitmap)

--1 Record Size = 1007  therefore i can insert 8 X 1007 = 8056   thus only 4 bytes left as free space.
--if i add another record of 1007 bytes, the page will split - and a new page will be created


--as we add more inserts of 1000 bytes of row size, soon the 8060 page size will become full and will split!!

--add second record

insert into cars values ('Benz')

select * from cars


DBCC traceon(3604)
GO

DBCC IND ('pages', cars, -1)
GO 

DBCC page('pages',1,296,1) --<< option 1

--at this point i have inserted 2 records, now i will insert 6 more records to almost max out the page.
-- then i will add one last record to cause a page split!!

insert into cars values ('ford'),('yogo'),('toyota'),('lincoln'),('honda'),('prius')

select * from cars

--after 8 total rows inserted lets see if the page split -- it did not!

DBCC traceon(3604)
GO

DBCC IND ('pages', cars, -1)
GO 

-- now insert the last row. at this point the page does NOT have room for another row on the same page!

 --<< 9th will cause a page split

select * from cars

-- a third page has been added - 297

DBCC traceon(3604)
GO

DBCC IND ('pages', cars, -1)
GO 

--looking inside each page

DBCC traceon(3604)
GO


DBCC page('pages',1,304,1) --<< should have 8 records

DBCC traceon(3604)
GO


DBCC page('pages',1,305,1) --<< should have 1 reords  (cadilac)








