

--The following table has a clustered index on department_id.
--When we execute the query below, notice that the execution plan is showing a table scan
--which means that to fetch the data for finance, it went throught the entire table scanning one by one to get the data -- poor performance



SELECT [Name]
FROM [AdventureWorks2016CTP3].[HumanResources].[Department]
WHERE [Name] = 'Finance'

--We will now create a non clustered index on the name column for the same query
--and review the execution plan


USE [AdventureWorks2016CTP3]
GO

CREATE NONCLUSTERED INDEX [NonClusteredIndex-Name] 
ON [HumanResources].[Department]
([Name] ASC)


--now when we execute the query, notice that the query used the non clustered index!!

SELECT [Name]
FROM [AdventureWorks2016CTP3].[HumanResources].[Department]
WHERE [Name] = 'Finance'