
--SET STATISTICS TIME ON
--SET STATISTICS TIME OFF

--SET STATISTICS IO ON
--SET STATISTICS IO OFF

--USE AdventureWorks2016CTP3
--GO

--DROP TABLE [Person].[PersonA]

--EXAMPLE OF TABLE SCAN AND HOW TO RESOLVE IT

USE [AdventureWorks2016CTP3]
GO

SELECT *
FROM [AdventureWorks2016CTP3].[Person].[Person]

--MIGRATE DATA FROM PERSON.PERSON TABLE THAT HAS CLUSTERED INDEX AND NON CLUSTERED INDEX TO PersonA TABLE - WHICH DOES NOT HAVE INDEXES

SELECT *
INTO [AdventureWorks2016CTP3].[Person].[PersonA] 
FROM [AdventureWorks2016CTP3].[Person].[Person]

--THIS SELECT STATEMENT PRODUCES A TABLE SCAN, BECAUSE THE THERE IS NO INDEX.  AS SUCH IT RETRIVES THE DATA BY SCANNING THE ENTIRE 
--TABLE GOING FORM ONE ROW TO ANOTHER  -- POOR PERFORAMCNE!  HOW CAN WE FIX THIS?  CREATE A CLUSTERED INDEX! BUT FROM THIS COLUMN LIST
--WHICH COLUMN SHOULD WE SELECT FOR BEST PERFORMANCE?


SELECT * FROM [AdventureWorks2016CTP3].[Person].[PersonA] 


--CREATE AN INDEX ON FIRSTNAME - NOTICE THAT THE FN IS SORTED
--CREATE VIA GUI FIRST


USE [AdventureWorks2016CTP3]
GO

CREATE CLUSTERED INDEX [ClusteredIndex-FN] 
ON [Person].[PersonA]
([FIRSTNAME] ASC)
WITH (PAD_INDEX = OFF, 
STATISTICS_NORECOMPUTE = OFF, 
SORT_IN_TEMPDB = OFF,    --<< WILL TALK LATER ABOUT SORTING IN TEMPBD TO GAIN PERFORMANCE
DROP_EXISTING = OFF, 
ONLINE = OFF, 
ALLOW_ROW_LOCKS = ON, 
ALLOW_PAGE_LOCKS = ON)
GO

/*

AFTER CREATING AN INDEX ON FN, THE QUERY IS USING THE CLUSTERED INDEX - NO TABLE SCAN. THIS IS BETTER, BUT IT STILL IS SCANNING THE ENTIRE DATA
AS THERE IS NO WHERE CLAUSE TO FILTER DATA

*/

SELECT * FROM [AdventureWorks2016CTP3].[Person].[PersonA] 
--logical reads 3799

--HOW CAN WE FURTHER IMPROVE THIS?  SINCE WE CAN ONLY HAVE ONE CLUSTERED INDEX SCAN, LETS INCLUDE A WHERE CLAUSE

SELECT * FROM [AdventureWorks2016CTP3].[Person].[PersonA] 
WHERE FIRSTNAME = 'Joseph'
--logical reads 9  -- MUCH BETTER




